{% extends "prices/base.html" %}
{% block title %}{{ object.name }}{% endblock %}
{% block nav_stations %}active{% endblock %}
{% block page_title %}{{ object.name }}{% endblock %}

{% block extra_head %}
{% include "prices/_pivottable_styles.html" %}
{% endblock %}

{% block content %}
<div class="row row-cards">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header"><h3 class="card-title">Details</h3></div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-5">Name</dt><dd class="col-7">{{ object.name }}</dd>
          <dt class="col-5">Address</dt><dd class="col-7">{{ object.adress }}</dd>
          <dt class="col-5">City</dt><dd class="col-7">{{ object.city }}</dd>
          <dt class="col-5">Region</dt><dd class="col-7">{{ object.region }}</dd>
          <dt class="col-5">Longitude</dt><dd class="col-7">{{ object.longitude }}</dd>
          <dt class="col-5">Latitude</dt><dd class="col-7">{{ object.latitude }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"><h3 class="card-title">Prices</h3></div>
      <div class="card-body">
        <div id="pivot-output"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pivottable/2.23.0/pivot.min.js"></script>
<script>
  $(function() {
    var data = {{ prices_json|safe }};
    $.fn.selectmenu = function() { return this; };
    $("#pivot-output").pivotUI(data, {
      rows: ["Snapshot"],
      cols: ["Fuel"],
      aggregatorName: "Average",
      vals: ["Price"],
    });
  });
</script>
{% endblock %}
